// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=JetBrains+Mono&display=swap');

@import url("https://iosevka-webfonts.github.io/iosevka/iosevka.css");

// Set font variables
$font-family-sans-serif: 'Fira Sans Extra Condensed', Helvetica Neue, Arial, sans-serif !default;
// $font-family-monospace: 'JetBrains Mono', 'Courier New', monospace !default;
$font-family-monospace: 'Iosevka', 'Courier New', monospace !default;

// Root font weight
$root-font-weight: 300;

// Title size
$title-size: 28pt;

// Colors
$white: #fff;
$night: #2E3440;
$dark-gray: #3b4252;
$medium-gray: #4c566a;
$light-gray: #d8dee9;
$snowstorm:#ECEFF4;
$frost-1: #8FBCBB;
$frost-2: #88C0D0;
$frost-3: #81A1C1;
$frost-4: #5E81AC;
$red:    #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green:  #A3BE8C;
$purple: #B48EAD;

// Navbar colors
$navbar-bg: $white;
$navbar-fg: $night;
$navbar-hl: $purple;

// Body background
$body-bg: $white;
// Body text
$body-color: $night;
// Footer background
$footer-bg: $white;
// Heading color
$heading-color: $night;
// Link color
$link-color: $purple;
// Link hover color
$link-hover-color: $purple;

// Inline code
$code-bg: $white;
$code-color: $night;

// Code block
$code-block-bg: $snowstorm;


/*-- scss:rules --*/

/* Sidebar */
.sidebar nav[role=doc-toc] ul>li>a {
  color: $medium-gray !important;
}
.sidebar nav[role=doc-toc] ul>li>a:hover {
  color: $purple !important;
}
.sidebar nav[role=doc-toc] ul>li>a.active {
  color: $purple !important;
}
// sidebar title weight
.sidebar h2#toc-title {font-weight: 300;}
// .sidebar {font-family: $font-family-monospace;}

/* Tabs */
.tab-content {
  border-left: #fff;
  border-right: #fff;
  border-top: #fff;
  border-bottom: #fff;
}

// Drop search button
.navbar-search {
  display: none;
}

// Image radius
// img {border-radius: 0px;}

// Color headings
h {color: $night;}

// Menu font
.menu-text {font-family: $font-family-monospace;}

// Body font weight
body {font-weight: $root-font-weight;}

// Body font
p {font-size: 32;}

// Headings font weight
h1, h2, h3, h4, h5, h6 {font-weight: $root-font-weight;}

// Monofont headings
h1.title {
  font-family: $font-family-monospace;
  font-weight: 200;
  }

// Link font
a {
  text-decoration: none;
  font-weight: $root-font-weight !important;
}

// Link colors
.nav-link.active {color: $night !important;}
.title:hover {color: $link-hover-color !important;}

// Footer
.footer {font-size: 1em;}
.nav-footer .nav-footer-center {
  font-size: 1em;
  color: $night;
}


/*-- Types --*/

// Colors
.blue {color: $frost-3;}
.purple {color: $purple !important;}
.green {color: $green;}
.red {color: $red;}
.teal {color: $frost-1;}
.white {color: $white !important;}

// Sizes
.small {font-size: 0.75rem;}
.tiny {font-size: 0.5rem;}
.big {font-size: 1.25rem;}
.realbig {font-size: 1.5rem;}
.huge {font-size: 2rem;}

// Bold
.b {font-weight: 400;}

// Light
.l {font-weight: 200 !important;}

// Mono
.mono {font-family: $font-family-monospace;}

// Subscripts
.sub {
  font-size: 75%;
  vertical-align: sub;
  line-height: 0;
}

// Superscripts
.sup {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
}

// Note
.note {
  font-family: 'Fira Sans Extra Condensed' !important;
  font-weight: 300;
  color: $night !important;
  font-size: 16px;
}

// Example
.ex {
  color: $snowstorm !important;
  font-style: italic;
  font-weight: 500;
}

// Pseudocode class
.pseudocode {
  font-family: $font-family-monospace;
  background: $snowstorm;
  border-radius: 3px;
  padding: 10px;
  text-transform: lowercase !important;
}


// Navbar, title, and other viewing options (Desktop v Mobile)
// Mobile
@media (max-width: 450px) {
  // Navbar
  .navbar > .container-fluid {
    flex-wrap: inherit;
    -webkit-flex-wrap: inherit;
    align-items: left;
    -webkit-align-items: left;
  }
  // Title
  .title {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 300;
    color: $night !important;
    font-size: 1.2em;
  }
  // Navbar brand
  a.navbar-brand {
    font-size: 0.86rem !important;
  }
  // Navbar links
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px !important;
  }
  // About padding
  .about-entity {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  // Headers
  h2 {font-size: 1.2em;}
  // Body content
  p {font-size: 0.9em;}
}

// Desktop
@media (min-width: 450px) {
  // Navbar
  .navbar > .container-fluid {
    margin-top: 60px;
    margin-left: 100px;
    flex-wrap: inherit;
    -webkit-flex-wrap: inherit;
    align-items: left;
    -webkit-align-items: left;
  }
  // Title
  .title {
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    color: $night !important;
    font-size: $title-size;
  }
  // Heading
  h {font-size: $title-size;}
  // Navbar brand
  .navbar-brand {
    font-size: 1.25em !important;
  }
  // Navbar links
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px !important;
  }
  // About padding
  .about-entity {
    padding-top: 0px;
    padding-left: 0px;
    // padding-right: 17px;
    margin-left: 0px;
  }
  // div.quarto-about-trestles .about-entity {
  //   flex: 0 0 28% !important;
  // }
}

