/*-- scss:defaults --*/


// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono&display=swap');

// fonts
// $font-family-sans-serif: 'Fira Sans Extra Condensed', Arial, sans-serif !default;
// $font-family-monospace: 'JetBrains Mono', 'Courier New', monospace !default;
$presentation-heading-font-weight: 400;
$presentation-font-size-root: 24px;
$presentation-font-weight-root: 400;

// font size
$title-size: 28pt;

// colors
  // Standard
  $white: #fff;

  // Nord theme (https://www.nordtheme.com/)
    // Polar night
    $polar-night-1: #2E3440;
    $polar-night-2: #2E3440;
    $polar-night-3: #2E3440;
    $polar-night-4: #2E3440;

    // Snow storm
    $snow-storm-1: #D8DEE9;
    $snow-storm-2: #E5E9F0;
    $snow-storm-3: #ECEFF4;

    // Frost
    $frost-1: #8FBCBB;
    $frost-2: #88C0D0;
    $frost-3: #81A1C1;
    $frost-4: #5E81AC;

    // Aurora
    $red: #BF616A;
    $orange: #D08770;
    $yellow: #EBCB8B;
    $green: #A3BE8C;
    $purple: #B48EAD;

// Base document colors
$navbar-bg: $white; // navbar
$navbar-fg: $polar-night-1; // navbar foreground elements
$navbar-hl: $frost-3; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $polar-night-1; // page text 
$footer-bg: $white; // footer 
$link-color: $frost-3; // hyperlinks 
$heading-color: $polar-night-1;

// Inline code
$code-bg: $white; // inline code background color
$code-color: $polar-night-1; // inline code text color

// Code blocks
$code-block-bg: $polar-night-1; // code block background color


/*-- scss:rules --*/

// Fonts
// @font-face {
//   font-family: 'FiraSansExtraCondensed-ExtraLight';
//   src: url('fonts/FiraSansExtraCondensed-ExtraLight.ttf') format('ttf');
//   // font-weight: normal;
//   // font-style: normal;
// }

.quarto-about-trestles img {
  width: 30%;
  margin-right: 0%;
  margin-left: 0%; /* Add left margin */
  // font-size: 24px;
}

div.quarto-about-trestles {
  // font-family: "Fira Sans Extra Condensed";
  display: flex !important;
  // flex-direction: row;
  padding-top: 0em !important;
  padding-bottom: 0em;
  // font-size: 1px;
}


@media (max-width: 450px) {
  .navbar>.container-fluid {
    // display: flex;
    // display: -webkit-flex;
    // margin-top: 60px;
    // margin-left: 60px;
    flex-wrap: inherit;
    -webkit-flex-wrap: inherit;
    align-items: left;
    -webkit-align-items: left;
    // justify-content: space-between;
    // -webkit-justify-content: space-between;
  }
  .title {
    // font-family: 'Darker Grotesque' !important;
    // font-family: 'Raleway' !important;
    // font-family: 'Bricolage Grotesque' !important;
    margin-top: 0.86rem;
    font-style: normal;
    font-weight: 300;
    color: $polar-night-1 !important;
    font-size: 1.5em;
  }
  a.navbar-brand {
    font-size: 0.86rem !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px !important;
    // padding-bottom: 1rem;
    // padding-top: 1rem;
  }
  .about-entity {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  div.quarto-about-trestles .about-entity {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0em;
}
}

@media (min-width: 450px) {
  .navbar>.container-fluid {
    // display: flex;
    // display: -webkit-flex;
    margin-top: 60px;
    margin-left: 60px;
    flex-wrap: inherit;
    -webkit-flex-wrap: inherit;
    align-items: left;
    -webkit-align-items: left;
    // justify-content: space-between;
    // -webkit-justify-content: space-between;
  }
  .title {
    // font-family: 'Darker Grotesque' !important;
    // font-family: 'Raleway' !important;
    // font-family: 'Bricolage Grotesque' !important;
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    color: $polar-night-1 !important;
    font-size: $title-size;
  }
  h {
    font-size: $title-size;
  }
  .navbar-brand {
    font-size: 1.25em !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px !important;
    // padding-bottom: 1rem;
    // padding-top: 1rem;
  }
  .about-entity {
    padding-top: 80px;
    padding-left: 17px;
    padding-right: 17px;
  }
  div.quarto-about-trestles .about-entity {
    display: flex !important;
    flex-direction: column;
    align-items: left;
    text-align: center;
    padding-right: 1em;
}
  
}

img {
  border-radius: 6px;
}


h {
  color: $polar-night-1
}


.footer {
  font-size: 1em;
}

.nav-footer .nav-footer-center {
  font-size: 1em;
  color: #4c566a;
}

div.quarto-about-trestles .about-entity {
  flex: none !important;
}


div.quarto-about-trestles .about-contents main.content {
  margin-top: 120px;
}

.menu-text {
  font-family: JetBrains Mono;
}

p {
  font-size: 32;
}

// @media (max-width: 768px) {
//   .title {
//       font-size: 0.75em;  /* adjust this value to whatever looks good on mobile */
//   }
// }

/*-- Types --*/
.note {
  font-family: 'Fira Sans Extra Condensed' !important;
  font-weight: 300;
  // font-style: italic;
  color: #314f4f !important;
  font-size: 16px;
}
a.nav-link {
  font-size: 18px !important;
}

a {
  text-decoration: none;
}

.nav-link.active {
  color: $polar-night-1 !important;
}

/* This will apply to all .title classes on hover */
.title:hover {
  color: $frost-3 !important;
}

/* This will override the above rule for h1 elements with .title class */
h1.title:hover {
  color: inherit !important; /* Or whatever the original color is */
}

h1.title {
  text-transform: uppercase;
}

.class-header {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 600;
  color: $polar-night-4
}
.pub-header {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 600;
  // font-size: 16pt;
  color: $polar-night-4
}


// .note h1 {
//   font-family: 'Zilla Slab' !important;
// }
.ex {
  color: #ccc !important;
  font-style: italic;
  font-weight: 500;
}
.pseudocode, .pseudocode-small {
  font-family: 'JetBrains Mono';
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
  text-transform: lowercase !important;
}
.pseudocode-small {
  font-size: 20px;
}
.sub {
  font-size: 75%;
  vertical-align: sub;
  line-height: 0;
}
.small {
  font-size:28px;
}
.tiny {
  font-size:24px;
}
.big {
  font-size: 38px;
  font-weight: 400;
}
.realbig {
  font-size: 60px;
  font-weight: 400;
}
.huge {
  font-size: 100px;
  font-weight: 400;
}
.mono {
  font-family: monospace;
}
.bold {
  font-family: "Fira Sans";
  font-weight: 600;
}


/*-- Highlight colors --*/
p {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 200;
  color: #2e3440;
}
.h {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 500;
  color: #2e3440;
}
.hi {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 600;
  color: #4c566a
}
.hii {
  font-weight: 600;
  color: #81A1C1;
}
.hi-teal {
  font-weight: 600;
  color: #8FBCBB;
}
.hi-bb {
  font-weight: 600;
  color: #88C0D0;
}
.hp {
  font-weight: 600;
  color: #b48ead !important;
}
.hi-green {
  font-weight: 600;
  color: #A3BE8C;
}
.hi-red {
  font-weight: 600;
  color: #BF616A;
}
.hi-orange {
  font-weight: 600;
  color: #D08770;
}
.hi-yellow {
  font-weight: 600;
  color: #EBCB8B;
}
.hi-white {
  font-weight: 600;
  color: #ffffff !important;
}
.hi-grey {
  font-weight: 600;
  color : #7f7f7f !important;
}

/*-- Colors --*/
.blue {
  color: #81A1C1;
}
.purple {
  color: #b48ead !important;
}
.green {
  color: #A3BE8C;
}
.red {
  color: #BF616A;
}
.teal {
  color: #8FBCBB;
}
.white {
  color: #ffffff !important;
}


/* google material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/MaterialIcons-Regular.woff2'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
      //  url('fonts/MaterialIcons-Regular.woff') format('woff'),
      //  url('fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Default icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
